version: "1.0.0"
description: Brief description
flags:
  - flag1:
      name: fone
      type: bool
      required: False
      help: flag1

  - flag2:
      name: ftwo
      choices:
        - a
        - b
      required: True
      help: flag2

  - flag3:
      name: fthree
      choices:
        - 1
        - 2
      required: False
      help: flag3

  - flag4:
      name: ffour
      required: True
      help: flag4

  - flag5:
      name: ffive
      required: False
      help: flag5
